###########################################################################################
###################### Onboard accelerometer and resonance tester config ##################
###########################################################################################

# FROM TOOLHEAD:
[adxl345]
cs_pin = toolhead:PA4
spi_bus = spi1
axes_map = y, z, -x
spi_speed = 5000000

[include ../../macros/helpers/resonance_override.cfg]

[resonance_tester]
accel_chip = adxl345
probe_points = 175,175,30  # XYZ head position for testing
min_freq = 20
max_freq = 150