[mcu toolhead]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_orbitool-o2-if00
baud: 250000
restart_method: command

[board_pins orbitool]
mcu: toolhead
aliases:
    X_STOP=PB0, MCU_RGB=PA1,
    PROBE_SERVO=PB3, PROBE_SIGNAL=PA15


#[include extruder.cfg]
#[include filament.cfg]
#[include thermals.cfg]