[gcode_macro _USER_VARIABLES]
# We can declare an "inductive_virtual" probe type as it's pretty close to the Beacon way of working and should just work!
variable_probe_type_enabled: "inductive_virtual"
# variable_startprint_actions: "bed_soak", "extruder_preheating", "chamber_soak", "clean", "tilt_calib", "cartographer_touch", "extruder_heating", "purge", "clean", "bedmesh", "primeline"
variable_startprint_actions: "set_heat_chamber", "set_heat_bed", cartographer_model", "bed_soak", "extruder_preheating", "chamber_soak", "tilt_calib", "clean", "cartographer_touch", "extruder_heating", "purge", "clean", "bedmesh", "primeline"
gcode:

[include ../../macros/base/probing/generic_probe.cfg]

[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_stm32g431xx_4A0017000850525537333120-if00
restart_method: command

[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 28 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: no # For extra output

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 0
max_temp: 105

[safe_z_home]
home_xy_position: 175, 175
# Example home_xy_position: 175,175 - This would be for a 350 * 350mm bed. 
z_hop: 10


