[gcode_macro _USER_VARIABLES]
# We can declare an "inductive_virtual" probe type as it's pretty close to the Beacon way of working and should just work!
variable_probe_type_enabled: "inductive_virtual"
variable_eddy_ng_enabled: True
# variable_startprint_actions: "bed_soak", "extruder_preheating", "chamber_soak", "clean", "tilt_calib", "cartographer_touch", "extruder_heating", "purge", "clean", "bedmesh", "primeline"
variable_startprint_actions: "cartographer_model", "bed_soak", "extruder_preheating", "chamber_soak", "clean", "tilt_calib", "eddy_calibrate", "extruder_heating", "purge", "clean", "bedmesh", "primeline"
gcode:

[include ../../macros/base/probing/generic_probe.cfg]

[probe_eddy_ng btt_eddy]
i2c_mcu: toolhead
i2c_software_scl_pin: toolhead:PB3
i2c_software_sda_pin: toolhead:PA15
sensor_type: btt_eddy
x_offset: 0
y_offset: 44
tap_target_z: -0.5


[safe_z_home]
home_xy_position: 175, 175
# Example home_xy_position: 175,175 - This would be for a 350 * 350mm bed. 
z_hop: 10

#[homing_override]
#gcode:
#    G28
    # G28 Z                      ; do the coarse home
#    G90                        ; set absolute positioning
#    G0 Z2 F1000                ; to 2mm -- home height (or whatever you'd like), for maximum sensor accuracy
#    G4 S1                      ; chill for a sec
#    M400                       ; wait for move to finish
#    PROBE_EDDY_NG_PROBE_STATIC HOME_Z=1 ; read the current exact height from sensor and home Z to it
#    G0 Z5 F1000 ; to 5mm as home

[force_move]
enable_force_move: true